/* data_entry.css */
.container {
  width: 80%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}


.file-input {
  position: relative;
  background-color: #dae3f4;
  display: flex;
  align-items: center;
  border: 2px solid #888;
  border-radius: 10px;
  margin-bottom: 30px;
}

.file-drop-area {
  flex: 1;
  position: relative;
}

.file-drop-area label {
  font-weight: bold;
  color: #747176;
  display: block;
  text-align:center;
  font-size:larger;
}

.file-drop-area input[type="file"] {
  display: none;
  height:100%;
}

#clean-button{
    border:none;
    padding: 0;
    margin: 10px;
    background:none;
}

#clear-button img {
    display: block; /* 将图片设置为块级元素 */
}

#upload-button,#submit-button {
    padding: 0;
    margin: 10px 15px;
    background-color: #8faadd;
    border: 2px solid #888;
    border-radius: 5px;
    cursor: pointer;
}

#upload-button{
    margin: 0;
    border: 1px solid #888;
}

.term-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  height:50px;
}

.term-input label {
  font-weight: bold;
  color: black;
  text-align:center;
  font-size:larger;
}

.term-input input[type="text"]  {
    flex: 1;
    padding: 5px 10px;
    border: 2px solid #888;
    border-radius: 5px;
    margin:10px 15px;
    height:35px;
}

.divider {
  border-top: 1px dashed grey;
  margin-bottom: 20px;
}

.content-display {
  background-color: #dae3f4;
  border-radius: 10px;
  padding: 20px;
  padding-bottom:0;
  height:400px;

  display: flex;
  flex-direction: column;/* 使用列布局 */
}

.content-header {
  /*
  text-align: center;
  margin-bottom: 10px;
  */

  display: flex;
  align-items: center; /* 垂直居中 */
  margin-right: 20px;
  font-weight: bold;
  font-size:larger;
}

.header-text {
  font-weight: bold;

  writing-mode: vertical-lr; /* 竖直排列 */
  transform: rotate(720deg); /* 旋转180度以使文字正立 */
}

.table-container {
  overflow-x: auto;
  flex: 1; /* 将表格容器填充剩余空间 */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ebeef4;
  height:40px;
}

th{
    text-align: center;
    font-size:larger;

    white-space: nowrap; /* 防止表头文字换行 */
}

td{
    text-align: left;
}


thead {
  background-color: #4473c5;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #f0f0f0;
}

#record-count{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align:right;
}